.profile__avatar-button {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  background-color: rgba(0, 0, 0, 0);

  transition: .5s;
}

.profile__avatar-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/icons/pen.svg);
}
