.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-top: 7px;
  padding: 7px;
  object-fit: cover;

  background-color: #000000;
  border: 1px solid #ffffff;
  transition: opacity 0.2s;

  background-image: url(../../../images/icons/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .profile__edit-button {
    grid-area: edit;
    width: 18px;
    height: 18px;
    margin-top: 4px;

    background-size: 7.5px;
  }
}
