.page {
  /* padding: 0 200px; */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #000000;

  font-family: "Inter", "Arial", sans-serif;
}

@media (max-width: 1279px) {
  .page {
    padding: 0 110px;
  }
}

@media (max-width: 767px) {
  .page {
    padding: 0;
  }
}
