.profile {
  /* background-color: blueviolet; */
  width: 100%;
  max-width: 1280px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 30px;
}

@media (max-width: 767px) {
  .profile {
    padding-bottom: 36px;
    flex-direction: column;
    gap: 0;
  }
}

.profile__info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  /* grid-template-rows: 40px 20px; */
  gap: 16px 18px;
  grid-auto-flow: row;
  grid-template-areas:
    "name edit"
    "description description";
}

@media (max-width: 767px) {
  .profile__info {
    padding: 26px 0 36px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 14px 10px;
    grid-template-areas:
      ". name edit"
      "description description description";
  }
}

/* .profile__info {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  gap: 16px;
} */

.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__name {
  margin: 0;
  grid-area: name;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  /* or 114% */

  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;

  color: #ffffff;
}

@media (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

/* .profile__name::after {
  content: url(/images/buttons/edit-button.svg);
  padding-left: 18px;
} */

.profile__edit-button {
  width: 24px;
  height: 24px;
  /* padding-top: 6px; */
  object-fit: cover;
  transition: opacity 0.3s;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .profile__edit-button {
    grid-area: edit;
    width: 18px;
    height: 18px;
  }
}
.profile__wrap {
  margin: 0;
  grid-area: edit;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  /* or 114% */

  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;

  color: #ffffff;
}

.profile__description {
  margin: 0;
  grid-area: description;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;

  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;

  color: #ffffff;
}

@media (max-width: 767px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.profile__add-button {
  /* max-width: 282px; */
  flex-basis: 150px;
  height: 50px;
  margin-left: auto;

  /* background-color: black; */
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button::after {
  content: url(/images/glyph/plus.svg);
  line-height: 0;
  /* font-family: "Inter", "Arial", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 30px; */
}

@media (max-width: 767px) {
  .profile__add-button {
    margin: 0;
    /* width: 100%; */
    flex-basis: 50px;
    width: 100%;
    max-width: 282px;
  }
}

/* .profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  object-fit: cover;
} */
