.popup__input_type_error {
  outline: 0;
  border-bottom: 1px solid red;
}

.popup__field-error {
  margin: 5px 0 0;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ff0000;
}

/* .popup__form-error:first-of-type {
  margin: 5px 0 13px;
} */
