.element {
  position: relative;
  padding: 0 0 22px;
  width: 100%;

  display: grid;
  grid-template-areas:
    "pic pic"
    "title button"
    "title number";
  grid-template-columns: auto min-content;
  align-items: center;

  border-radius: 15px 15px 10px 10px;
  background-color: #fff;
}
