.profile__description {
  margin: 0;
  grid-area: description;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;

  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;

  color: #ffffff;
}

@media (max-width: 767px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
