.popup__close-button {
  margin: 0 0 8px 8px;
  grid-area: cross;
  justify-self: start;
  align-self: flex-end;

  width: 32px;
  height: 32px;
  background-image: url(../../../images/glyph/cross.svg);
  background-color: transparent;
  background-size: 100%;
  border: 0;
  transition: 0.2s;
}

@media (max-width: 767px) {
  .popup__close-button {
    margin: 0 0 16px;
    width: 20px;
    height: 20px;
    justify-self: flex-end;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
