.profile__info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  /* grid-template-rows: 40px 20px; */
  gap: 16px 18px;
  grid-auto-flow: row;
  grid-template-areas:
    "name edit"
    "description description";
}

@media (max-width: 767px) {
  .profile__info {
    padding: 26px 0 36px;
    grid-template-columns: auto 1fr auto;
    gap: 14px 10px;
    grid-template-areas:
      ". name edit"
      "description description description";
  }
}
