.element {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 0 0 31px;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 25px;
  grid-template-areas:
    "pic pic"
    ". .";
  align-items: center;

  border-radius: 15px 15px 10px 10px;
  /* overflow: hidden; */
}

.element__remove-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;

  border: none;
  background-color: transparent;
  background-image: url(../../images/icons/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: opacity 0.2s;
  opacity: 0;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
/* знаю-знаю,не по макету,
 но так больше эстетики, как по мне */
.element:hover .element__remove-button {
  opacity: 1;
}

.element:hover .element__remove-button:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .element__remove-button {
    opacity: 1;
  }
}
