.popup__field {
  box-sizing: border-box;
  padding: 0 0 10px;
  max-height: 27px;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.popup__field:focus {
  outline: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__field:first-of-type {
  margin: 0 0 30px;
}
